<link rel="stylesheet" type="text/css" href="css/navbar.css">

<nav>
    <div class="nav-branding">
        <a href="/">
            SS
        </a>
    </div>

    <div class="nav-menu">
        <span class="nav-item divider"><a href="/">Home</a></span>
        <span class="nav-item last-nav-item"><a href="/about">About Me</a></span>
    </div>
</nav>
